annotated-types
anyio
click
colorama
exceptiongroup
fastapi
fastapi-utils
greenlet
h11
idna
importlib-metadata
#psycopg2==2.9.6
#psycopg2-binary==2.9.6
psycopg2-binary
pydantic
pydantic-core
sniffio
SQLAlchemy
starlette
typing-extensions
uuid
uvicorn
zipp
